
<header>
    <nav>
        <a href="/index" class="letra">Home</a>
        <a href="/index" class="letra">Shop</a>
        <a href="/index" class="letra">Categories</a>
    </nav>

    <h1 class="miNombre">Eclego</h1>
    
    <div>
        <a href="#"><i class="bi bi-people"></i></a>
        <a href="#" id="icono_carrito" onclick="carritoActualizado()" ><i class="bi bi-cart2"></i></a>
        <div class="cantidadCarrito" id="cantidadCarrito"></div>
    </div>

    <script src="../js/shop.js"></script>
</header>

