<div id="carrito" class="modalCarrito oculto ">

    <div class="CartContainer">
        <i class="bi bi-x-lg" onclick="cerrarCarrito()"></i>
        <div class="Header">
            <h3 class="Heading">Shopping Cart</h3>
            <h5 onclick="removeAll()" class="Action">Remove all</h5>
        </div>

        <span id="mensajeError"></span>

        <div id="contenidoCarrito"></div>

    
    </div>
    </div>
